In [28]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
table = pd.read_html(url)

In [4]:
df = table[0]

In [5]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront


 <li>The dataframe will consist of three columns: <b> PostalCode, Borough,</b> and <b>Neighborhood</li>

In [6]:
df = df[(df.Borough != 'Not assigned')]
df.index = pd.RangeIndex(len(df.index))
df.head(10)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

<li>Only process the cells that have an assigned borough. Ignore cells with a borough that is <b>Not assigned.

In [7]:
df[df.Neighborhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

<li>If a cell has a borough but a <b>Not assigned </b>neighborhood, then the neighborhood will be the same as the borough.</li>
    
   _As shown above, no neighborhood is identified as <b> Not assigned_

In [8]:
df.shape

(103, 3)

In [9]:
table = pd.read_csv('http://cocl.us/Geospatial_data')
table.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
postal = df[['Postal Code']]
test = df
postal.rename(columns = {'Postal Code':'Code'}, inplace = True)
postal.head()

  Code
0  M3A
1  M4A
2  M5A
3  M6A
4  M7A

In [20]:
# for i in postal
i = 'M3B'
row = table.loc[df['Postal Code'] == i]
latitude = row[['Latitude']]
longitude = row[['Longitude']]
type(latitude)
#longitude = longitude.append('Latitude': row[['Longtitude']])
#print(latitude)
#print(longtigude)

pandas.core.frame.DataFrame

In [54]:
latlist = pd.DataFrame(columns=(['Latitude']))
longlist = pd.DataFrame(columns=(['Longitude']))
postallist = postal['Code'].tolist()
for i in postallist:
    row = table.loc[df['Postal Code'] == i]

    cache_lat = row[['Latitude']] 
    cache_long = row[['Longitude']] 

    latlist = pd.concat([latlist, cache_lat])
    longlist = pd.concat([longlist, cache_long ])

latlist.head()

    Latitude
0  43.806686
1  43.784535
2  43.763573
3  43.770992
4  43.773136

In [56]:
coord = pd.concat([latlist, longlist], axis = 1)

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

In [57]:
final = pd.concat([df, coord], axis = 1)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government