In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
table = pd.read_html(url)

In [4]:
df = table[0]

In [5]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront


 <li>The dataframe will consist of three columns: <b> PostalCode, Borough,</b> and <b>Neighborhood</li>

In [6]:
df = df[(df.Borough != 'Not assigned')]
df.index = pd.RangeIndex(len(df.index))
df.head(10)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

<li>Only process the cells that have an assigned borough. Ignore cells with a borough that is <b>Not assigned.

In [9]:
df[df.Neighborhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

<li>If a cell has a borough but a <b>Not assigned </b>neighborhood, then the neighborhood will be the same as the borough.</li>
    
   _As shown above, no neighborhood is identified as <b> Not assigned_

In [10]:
df.shape

(103, 3)